.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-group {
  list-style-type: none;
  text-align: left;
  border-color: white;
}

.list-group-item:hover {
  background-color: #C2BFC2;
  border-color: #C2BFC2;
}

.list-group-item.active {
  background-color: gray;
  border-color: gray;
}

#sidebar {
  width: 25%;
  margin: 40px;
}